@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';

@theme {
  /* Polices */
  --font-luckiest: "Luckiest Guy", cursive;
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;

  --font-weight-montserrat-thin: 100;
  --font-weight-montserrat-black: 900;

  /* Classe finale pour levitation */
  --animate-float: float 1.5s ease-in-out infinite;
}

/* Specs base animation levitation */
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

html, body {
  font-family: var(--font-open-sans), sans-serif;
  overflow-x: hidden; /* Bloque radicalement le scroll horizontal sur tout le site */
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Animation On Scroll */
.reveal-init {
  opacity: 0;
  transition: all 1.2s cubic-bezier(0.2, 0.8, 0.2, 1);
  will-change: opacity, transform;
}

.fade-up { transform: translateY(100px); }
.fade-left { transform: translateX(-150px); }
.fade-right { transform: translateX(150px); }

.is-revealed {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}

/* En attendant d'avoir la classe dans Tailwind */
.text-wrap-balance {
  text-wrap: balance;
}
